* {
  box-sizing: border-box;
}

#content {
  display: flex;
}

body {
  background-image: url('/img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.page-title {
  margin-right: 28px;
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
}

.name-logo-container {
  display: flex;
  align-items: center;
}

.pokeball-color {
  width: 68px;
}

.form-outline {
  margin-right: 28px;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 27px !important;
  color: white !important;
}

h5{
  color: black !important; 
}

#pokecard-main {
  display: flex;
  flex-wrap: wrap;
  color: white;
  display: flex;
  padding: 18px;
  border-radius: 20px;
  box-shadow: inset 0px 5px 10px 0px rgba(255, 255, 255, 0.7);
  border: 2px solid;
}

.single-pokeCard {
  display: flex;
  flex-direction: column;
  width: 355px;
  padding: 28px;
  border-radius: 18px;
  box-shadow: inset 0px 5px 10px 0px rgba(255, 255, 255, 0.65);
  border: 2px solid;
  border-color: white;
  margin: 1%;
}

/*
.single-pokeCard:hover{
  transform: scale(0.98, 0.98);
  transition: 0.4s;
  overflow: visible;
  opacity: 0.9;
  background-color: black !important;
  cursor: pointer;
}
*/

/*
.single-pokeCard:hover #pokemonImage{
  transform: scale(1.55, 1.55);
  transition: 0.4s;
  color: rgba(0, 0, 0, 0.1);

}*/

.category-container{
  border-style:dotted;
  border-color: black;
  color: black;
}

.name-and-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.name-category-img-container {
  display: flex;
}

#pokemonImage {
  width: 150px;
  height: 150px;
  z-index: 2;
}

.info-container {
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  /*margin-top: -40px;*/
  min-height: 100px;
}
