* {
  box-sizing: border-box;
}

#content {
  display: flex;
}

body {
  background-image: url("/img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

.page-title {
  margin-right: 28px;
  font-size: 35px;
  font-weight: 600;
  color: whitesmoke;
}

.name-logo-container {
  display: flex;
  align-items: center;
}

.pokeball-color {
  width: 68px;
}

.form-outline {
  margin-right: 28px;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 23px !important;
  color: white !important;
}



#pokecard-main {
  display: flex;
  flex-wrap: wrap;
  color: white;
  display: flex;
  padding: 18px;
  border-radius: 20px;
  box-shadow: inset 0px 5px 10px 0px rgba(255, 255, 255, 0.7);
  border: 2px solid;
}

.single-pokeCard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  border-radius: 18px;
  box-shadow: inset 0px 5px 10px 0px rgba(255, 255, 255, 0.65);
  border: 2px solid;
  border-color: white;
  margin: 1%;
  overflow: hidden; 
}
.singlePokecard-id {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: black !important;
}

/*
.single-pokeCard:hover{
  transform: scale(0.98, 0.98);
  transition: 0.4s;
  overflow: visible;
  opacity: 0.9;
  background-color: black !important;
  cursor: pointer;
}
*/

/*
.single-pokeCard:hover #pokemonImage{
  transform: scale(1.55, 1.55);
  transition: 0.4s;
  color: rgba(0, 0, 0, 0.1);

}
*/

.category-container {
  border: 2px solid;
  border-radius: 5px;
  border-color: black;
  padding: 3px;
  width: 65px;
  text-align: center;
  font-size: 14px !important;
  color: white;
}

.spc-name-category-img-container {
  display: flex !important;
  width: 100% !important;
  position: relative !important;

}

.spc-name-and-category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 108px;
  gap: 6px;
  justify-content: flex-start;
}


#pokemonImage {
  width: 150px;
  height: 150px;
  z-index: 2;
}

.info-container {
  background-color: whitesmoke;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  /*margin-top: -40px;*/
  min-height: 100px;
}

.d-none {
  display: none;
}

/* Styles for ColorTags - Category - Container*/

.grass-background-color {
  background-color: #1c850e;
}
.fire-background-color {
  background-color: #f26a09;
}
.water-background-color {
  background-color: #286db1;
}
.bug-background-color {
  background: #93b93c;
}
.normal-background-color {
  background-color: #7e808c;
}
.poison-background-color {
  background-color: #963dbf;
}
.electric-background-color {
  background-color: #e0c617;
}
.ground-background-color {
  background-color: #ce7546;
}
.fairy-background-color {
  background-color: #e25eba;
}
.fighting-background-color {
  background-color: #da3861;
}
.psychich-background-color {
  background-origin: #d84a4c;
}
.ghost-background-color {
  background-color: #3b57ae;
}
.ice-background-color {
  background-color: #52d3c4;
}
.dragon-background-color {
  background-color: #0975da;
}
